// centering-content
// 真ん中のよっているコンテンツを作るためのmixin
// usage
// @include centering-content;

@mixin centering-content {
  width: 1060px;
  margin: 0 auto;
}

@mixin anchor-font-sanitize {
  color: $base-text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
