// .mainContent
// ページのコンテンツの部分。
// コンテンツの部分のうちでも共通部分

.mainContent {
  @include centering-content;

  // .contentHeader
  // コンテンツ全体のheader
  .contentHeader {
    border-bottom: 1px solid $theme-yellow-color;

    &__title {
      font-size: 28px;
      font-weight: normal;
      display: inline-block;
      margin: 0;
    }

    &__subTitle {
      font-size: 10px;
      display: inline-block;
      margin: 0 60px 0 30px;
    }

    .breadcrumb {
      font-size: 12px;
      display: inline-block;
      div {
        display: inline-block;
      }
      a {
        @include anchor-font-sanitize;
      }
    }
  }
}
