// .mainContent
// ページのコンテンツの部分。
// コンテンツの部分のうちでも共通部分

.mainContent {
  @include centering-content;
  @include clearfix;
  overflow: hidden;

  // .contentHeader
  // コンテンツ全体のheader
  .contentHeader {
    @include post-header;
  }

  // .mainContent__article
  // 固定ページの記事本体
  &__article {
    display: block;
    width: 720px;
    float: left;
    ul {
      list-style: circle;
    }
  }

  // .sidebar
  // ページ右側のメニュー部分
  .sidebar {
    display: block;
    width: 300px;
    float: left;
    margin: 0 0 -32768px 40px;
    padding: 20px 0 32768px;
    border-left: 1px solid $line-color;
    li {
      padding: 0;
      border-bottom: 1px solid $line-color;
    }
    a {
      @include anchor-font-sanitize;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 0 20px 40px;
      box-sizing: border-box;
    }
    p {
      margin: 0;
    }
  }

  &--widePage {
    .mainContent__article {
      display: block;
      width: 960px;
      margin: 0 50px;
      font-size: 20px;
      ul {
        list-style: circle;
      }
    }
  }
}
